#left-column.column
  h2 Elige tu héroe
  ul#heroes
    each hero in heroes
      li(class='hero-name')
        a(href='#') #{hero}
        
#right-column.column
  h2 Facts
  ul#facts
  label(for="new-fact") Añadir nuevo fact:
  textarea#new-fact
  a(id='add-new-fact', href='#') Añadir

script(src="/javascripts/jquery-1.6.4.min.js")
script

  function addFact(fact) {
    $('<li>').appendTo('#facts').text(fact);
  }

  $(function() {
    $('#right-column').hide();
  
    $('li.hero-name a').click(function() {
    
      var name = $(this).text();
      
      $('#right-column h2').text(name);
    
      $('#facts li').remove();
      
      $.getJSON('/hero/' + name, function(data) {
        for (var i = 0; i < data.length; i++) {
          addFact(data[i]);
        }
      });
      
      $('#right-column').show();
      
      return false;
    });
    
    $('#add-new-fact').click(function() {
      
      var name = $('#right-column h2').text();
      var fact = $('#new-fact').val();
    
      $.ajax({
        type: "POST",
        url: "/hero/addFact",
        data: JSON.stringify({ name: name, fact: fact }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data) {
          addFact(fact);
          $('#new-fact').val('');
        },
        error: function(err) {
          var msg = 'Status: ' + err.status + ': ' + err.responseText;
          alert(msg);
        }
      });
      return false;
    });
  });
