doctype 5
html
  head
    title Mega Facts
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        h1 Mega Facts
      #content
        block content
      #footer
        a(href="http://blog.koalite.com") Koalite